/* You can add global styles to this file, and also import other style files */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-around;
  margin: 0 -16px;
}   

.col{
    flex-grow: 1;
    margin-right: 10px;
}

input {
    display: block;
    margin: 5px;
}